*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: var(--purple-black);
  color: var(--white);
  font-family: var(--fonts-roboto);
}
main{
  padding: 0;
}
:root{
  --purple-black: #2F1B59;
  --purple-dark: #3E0973;
  --purple: #5A0FA6;
  --purple-medium: #6614D9;
  --purple-white: #BFAFCE;
  --yellow: #F2AE30;
  --white: #ffffff;

  --fonts-acme: 'Acme', sans-serif;
  --fonts-roboto: 'Roboto', sans-serif;
}
.material-symbols-rounded {
  cursor: pointer;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
.main-header{
  background-color: var(--purple-dark);
  color: var(--yellow);
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;
}
.main-header__title-container{
  cursor: pointer;
  display: flex;
  align-items: center;
}
.main-header__title{
  font-size: 2rem;
  margin:0;
  font-family: var(--fonts-acme);
  letter-spacing: 0.02em;
}
.search-form{
  margin: 10px 20px;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  gap: 10px;
  border: 2px solid var(--yellow);
  background-color: var(--purple);
  border-radius: 30px;
}
.search-form__input{
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-left: 10px;
  background-color:inherit;
  color: var(--white);
}


.search-form__button{
  cursor: pointer;
  border: none;
  background-color:inherit ;
  color: var(--yellow);
}
.movie-list__title{
  margin: 10px 20px;
  font-size: 1rem;
  
}
.movie-list__container{
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-right: 20px;
  padding-left: 10px;
}
.movie__container{
  margin: 0;
  margin-left: 10px;
  scroll-snap-type: x proximity;
}
.movie__image{
  width: 150px;
  border-radius: 15px;
}
.footer-main{
  background-color: var(--purple-dark);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-main__text{
  margin: 5px;
  text-align: center;
}
.footer-main__link{
  text-decoration: none;
  color: var(--yellow);
}













.inactive{
  display: none;
}
span.logo{
  font-size: 2rem;
  margin-right: 10px;
}
span.inactive{
  display: none;
}
.search-form__input::-webkit-search-decoration,
.search-form__input::-webkit-search-cancel-button,
.search-form__input::-webkit-search-results-button,
.search-form__input::-webkit-search-results-decoration {
  display: none;
}

.search-form__input::placeholder{
  color: var(--purple-white);
}

.search-form__input:focus{
  border: none;
}
.search-form__input:focus-visible,
.search-form__button:focus-visible{
  outline-style: none;
}